<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body style="color:#000A52">
    <div class="container">
        <div>Accept Invitation through this link <a href="http://127.0.0.1:3000/accept_invite?token=<%= @token %>"></div>
    </div>
  </body>
</html>
